extends ../../_layout.jade

block content

  section.glass.heading
    h1 Build Architecture

  section
    .content


//- Depending on your desired outcome, simple plugins can be constructed to create custom bundling behaviors
//- Talk about the steps of compilation that relate to module id's, hashes, and bundle sorting
