section.glass.interactive
  .interactive-docs
    .visualization

section.interactive
  .interactive-docs
    .status-bar-wrapper
      .status-bar &nbsp;
    .doc-wrapper
      .doc

script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/4.4.0/markdown-it.js")
script(src="/docs/js/interactive-docs-visualization.js")
