@font-face {
  font-family: 'Dejavu Sans Mono';
  src: url('/fonts/dejavu-sans-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dejavu Sans';
  src: url('/fonts/dejavu-sans-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Dejavu Sans';
  src: url('/fonts/dejavu-sans.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
