
/////////////////////////
///      COLORS       ///
/////////////////////////

primary = rgb(82, 160, 154)
secondary = rgb(77, 98, 192)
tertiary = rgb(101, 158, 140)

neutral = #f0f0f0
neutral-dark = #333


fixed-background()
  background-color: primary
  background-attachment: fixed, fixed, fixed
  background-image:
    url("/images/stripes.svg"),
    linear-gradient(
      45deg,
      transparentify(tertiary, 0.7) 7%,
      transparentify(primary, 0.7) 33%,
      transparentify(secondary, 0.7)
      ),
    url("/images/texture-block.png")
  background-size: cover, auto, auto


////////////////////////
///      MEDIA       ///
////////////////////////

media_queries = {
  mobile: "only screen and (max-width: 800px)",
  tablet: "only screen and (min-width: 801px) and (max-width: 1023px)",
  desktop: "only screen and (min-width: 1024px)"
}

for_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}
    
// Example usage:
//
//   +for_breakpoint(mobile tablet)
//     .hide-for-mobile
//       display none
//


/////////////////////////
///      STYLES       ///
/////////////////////////

*
  box-sizing: border-box

body
  font-family: Lato
  font-weight: 300
  font-size: 22px

  fixed-background()

.header
  background-color: neutral
  display: flex
  justify-content: center
  overflow-x: scroll
  font-size: 0.9em
  text-transform: uppercase
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2)
  margin-bottom: 12px

  position: fixed
  z-index: 5
  top: 0
  width: 100%

  a
    padding: 8px 12px
    font-weight: 300
    font-size: 0.9em
    white-space: nowrap

h1, h2
  font-family: "Alegreya Sans SC"
  font-weight: 700

h1
  font-size: 64px
  letter-spacing: 4px
  
h2
  font-size: 36px
  letter-spacing: 2px
  
h3
  font-size: 28px

h4
  font-size: 22px

a
  font-weight: normal
  color: inherit
  text-decoration: none
  cursor: auto

footer
  display: flex
  justify-content: center

  padding: 64px  
  text-align: center

  color: neutral
  font-weight: 400

  p
    border-top-style: double
    padding: 16px 32px
    border-top-color: rgba(255, 255, 255, 0.3)


.landing
  padding: 64px

  text-align: center
  color: neutral

  margin-top: 48px

  +for_breakpoint(mobile)
    padding: 64px 0

  > *
    vertical-align: middle

  .logo-wrapper
    display: inline-block

  .logo
    width: 160px
    filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, 0.4))

    path
      fill: neutral
    
  .landing-header
    display: inline-block
    text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4)

    +for_breakpoint(mobile)
      width: 100%
      display: flex
      flex-direction: column

    +for_breakpoint(desktop tablet)
      padding-left: 80px

    h1
      +for_breakpoint(mobile)
        font-size: 12vw
        margin: 4vh 0

    .subtitle
      margin-top: -46px
      font-size: 24px
      
      +for_breakpoint(mobile)
       margin-top: -40px

  .cta
    display: inline-block
    padding: 8px 16px
    margin: 6px 9px

    border-style: solid
    border-width: 2px
    border-radius: 4px
    
    font-weight: 400
    font-size: 18px
    text-decoration: none
    color: inherit

    user-select: none

    &:hover
      background-color: transparentify(neutral, 0.2)

body > section
  display: flex
  padding: 64px

  color: neutral

  margin: 0 12vw

  +for_breakpoint(mobile)
    margin: 0
    padding: 24px 24px 48px 24px

  > *
    display: inline-block

  .content
    width: 100%

    h2
      text-align: center

  &:nth-child(odd)
    background-color: neutral
    color: neutral-dark

.module-system
  display: flex
  align-items: center

  aside
    flex: 0 1 400px
    margin-right: 64px

.bullet-points
  display: flex
  flex-wrap: wrap

.bullet-point
  display: flex

  flex: 1 1 20%
  flex-direction: column
  align-items: center
  justify-content: flex-start

  padding: 32px
  margin: 4px
  text-align: center

  fixed-background()
  border-radius: 6px
  border-color: neutral
  border-width: 4px
  border-style: double

  color: neutral

  +for_breakpoint(mobile)
    padding: 48px

  h3
    margin: 0 0 12px 0

  .illustration
    padding: 32px
    border-radius: 64px
    
    svg
      width: 120px
      height: 120px
