section.glass.heading
  h1 Universal Build

section
  .content
    :markdown
      This section is still TODO.

      However, you feel free to take a look at the [Node](https://github.com/interlockjs/plugins/tree/master/packages/node) plugin.

      It'll include an example project that early adopters can reference.

      Also, feel free to reach out on [Gitter](https://gitter.im/interlockjs/interlock)!
