doctype
html(lang='en')

  head
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" type="text/css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" type = "text/css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700" type = "text/css")
    link(href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/styles/main.css" type="text/css")
    link(rel="stylesheet" href="/styles/syntax-highlighting.css" type="text/css")
    title InterlockJS

    script.
      window['GoogleAnalyticsObject'] = "ga";
      window.ga = function () {
        (window.ga.q = window.ga.q || []).push(arguments);
      };
      window.ga.l = 1 * new Date();
      ga('create', 'UA-70074767-2', 'auto');
      ga('send', 'pageview');
    script(src="//www.google-analytics.com/analytics.js" async)
    script
      include ./_js/scroll.js

  body
    .header
      a(href="/#{ relPath == 'index.jade' ? '#quick-start' : '' }") #{ relPath == 'index.jade' ? 'Quick Start' : 'Home' }
      a(href="/docs") Documentation
      a(href="https://gitter.im/interlockjs/interlock") Chat
      a(href="https://github.com/interlockjs/interlock/issues") Issues
      a(href="https://github.com/interlockjs/interlock").ion-social-github &nbsp;GitHub
    #top
    a#scroll-to-top(href="#top")
      i.ion-chevron-up

    block content

    footer
      p © Dale Bustad. All Rights Reserved.

    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-javascript.min.js")
